html, body, .component-div {
  height: 100%;
}

.form-operate {
  float: right;
}

.table-div {
  height: calc(100% - 62px);
  max-height: 800px;
}

.text-danger {
  color: #F56C6C;
}

.text-success {
  color: #67C23A;
}

.text-warning {
  color: #E6A23C;
}

.text-info {
  color: #909399;
}
/* dialog */
/*.el-header,.el-aside,.el-dialog__header,.el-dialog__footer {
  background-color: rgb(84, 92, 100);
}

.el-dialog__title,.el-dialog__close {
  color: white !important;
}*/

.el-dialog {
  border-radius: 4px;
}

.el-message-box {
  min-width: 25%;
}

.el-message-box .el-message-box__btns .el-button {
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 4px;
}

.el-form-item__content {
  text-align: left;
}
